.hide--overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    transform: translateX(100%);
    transition: all 1s ease;
  }
  
  .show--overlay {
    transform: translateX(0);
  }
  
  .breadcrumb .breadcrumb__banner {
    background-image: url('https://optimized.autograph.io/media/internal-up-QRm7F9qj45lnGT7AfgIp4kwLF17z02aP.png?resource_type=image');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    width: 100%;
    height: 34.375rem;
  }
  
  .breadcrumb__banner .breadcrumb__banner--content {
    padding-top: 2.6rem;
    padding-left: 3.6rem;
    padding-right: 3.6rem;
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .breadcrumb__banner .breadcrumb__banner--content .breadcrumb__content--state {
    font-weight: 600;
    display: flex;
    align-items: center;
  }
  
  .breadcrumb__banner--content .breadcrumb__content--state div {
    width: 0.6rem;
    height: 0.6rem;
    background-color: #000;
    margin-right: 0.8rem;
  }
  
  .breadcrumb__banner .breadcrumb__banner--content .breadcrumb__content--title h1{
    font-size: 2.4rem;
    margin-bottom: 1rem;
  }
  
  .breadcrumb__banner--content .breadcrumb__content--description p {
    font-size: 0.9rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  
  .breadcrumb__banner--content .breadcrumb__content--description ul {
    padding-left: 2rem;
    font-weight: 600;
    font-size: 0.9rem;
  }
  
  .breadcrumb__content--description ul a {
    color: #000;
  }
  
  .breadcrumb__banner--content .breadcrumb__content--action .button {
    width: 100%;
    height: 3.4rem;
    margin: 1rem 0;
    font-size: 0.9rem;
    font-weight: 600;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
  }
  
  .breadcrumb__content--action .button span {
    width: 1.5rem;
    height: 1.5rem;
    background-color: #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .breadcrumb__poster {
    display: flex;
  }
  
  .breadcrumb__poster .breadcrumb__poster--image {
    background-image: url('https://gateway.autograph.io/ipfs/QmdYqjmAXZpZ9NGs27uYB8QWxMuihQ1tUwWkM82ftabrwx');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .breadcrumb__poster .breadcrumb__poster--image img {
    cursor: pointer;
  }
  
  .breadcrumb__poster .breadcrumb__poster--content {
    width: 40%;
    height: 31rem;
    background-color: #3c3c3c;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
  }
  
  .breadcrumb__poster--content .breadcrumb__poster--title h1 {
    font-size: 3.5rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 1rem;
  }
  
  .breadcrumb__poster--content .breadcrumb__poster--title p {
    color: #fff;
    font-size: 1.1rem;
    line-height: 1.5rem;
    width: 90%;
  }
  
  .breadcrumb__poster--content .breadcrumb__poster--btn button {
    width: 50%;
    height: 2.5rem;
    background-color: inherit;
    border: 1px solid #fff;
    color: #fff;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    cursor: pointer;
    transition: background 0.5s linear;
  }
  
  .breadcrumb__poster--content .breadcrumb__poster--btn button:hover {
    background: #ffffff40;
  }
  
  .breadcrumb__poster--btn button span {
    width: 1.2rem;
    height: 1.2rem;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .breadcrumb__poster--btn button i {
    color: #3c3c3c;
  }